.totem { 
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 25px;
	// cursor: pointer;

	& > * {
		margin-bottom: 10px;
	}
}

.triangle {
	border-bottom: 15px solid $gray;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	transition: border-bottom-color 300ms ease;

	&:hover {
		border-bottom-color: $red;
	}
}

.circle {
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background-color: $gray;
	transition: background-color 300ms ease;

	&:hover {
		background-color: $green;
	}
}

.square {
	height: 16px;
	width: 16px;
	background-color: $gray;
	transition: background-color 300ms ease;

	&:hover {
		background-color: $yellow;
	}
}

.diamond {
	height: 14px;
	width: 14px;
	background-color: $gray;
	transform: rotate(-45deg);
	transition: background-color 300ms ease;

	&:hover {
		background-color: $blue;
	}
}



/* Mail Icon */

.mail {
	// border: 2px solid $gray;
	overflow: hidden;
	background-color: $gray;
	border-radius: 2px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    height: 20px;
    width: 28px;
    cursor: pointer;
    box-shadow: 0 0 4px 0 $gray;
    transition: background-color 300ms ease-in,
    			box-shadow 300ms ease-in,
    			border-color 300ms ease-in;

	&:after,
	&:before {
		content: '';
		background: $gray;
	    border: 1px solid $white;
	    position: absolute;
	    border-top: none;
	    top: 6px;
	    width: 15px;
	    transition: border-color 300ms ease-in;
	}
	&:after {
	    left: -2px;
	    transform: rotate(25deg);
	}
	&:before {
	    right: -2px;
	    transform: rotate(-25deg);
	}
	
	&:hover {
		background-color: $purple;
		border-color: $purple;
		// box-shadow: none;

		&:before,
		&:after {
			border-color: $white;
			background: $white;
		}
		// box-shadow: 0 0 8px 3px $purple;
	}


}