.hdg {
  display: block;
}

.hdg--1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 48px;
  color: #434343;
  margin-bottom: 25px;
  transition: color 2000ms ease;
}

.body--small { font-size: 13px; margin-bottom: 35px; }